<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         defaultTestSuite="Fake"
         failOnWarning="true"
         failOnRisky="true">
    <testsuites>
        <!-- Default suite: fully mocked (Http::fake), no network. Run by CI. -->
        <testsuite name="Fake">
            <directory>tests</directory>
            <exclude>tests/Integration</exclude>
        </testsuite>
        <!-- Opt-in suite: hits the real Maat API. Never run by CI. -->
        <testsuite name="Live">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
